.body {
    width: 1902px;
}

/* section 1 the_latest_news */
.the_latest_news-section {
    width: 1902px;
}
.the_latest_news-section-second-part{
    background-image: url(../img/section1_the_latest_news/header-background.png);
    height: 369px;
    width: 1900px;
}
.the_latest_news-section-first-part {
    background-color: #313131;
    height: 70px;
}
.latest-news-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-introductory {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 15px;
    padding: 18px 15px;
}
.header-title {
    Font-family: open, sans-serif;
    Font-style: bold;
    Font-size: 22px;
    Line-height: 30px;
    color: #FFFFFF;
    margin-left: 50px;
    margin-right: 474px;
}
.latest-news-menu li {
    list-style: none;
    text-decoration: none;
    padding: 0 15px;
    margin: 0 15px;

}
.latest-news-items {
    font-family: Open, sans-serif;
    Font-style: Bold;
    Font-size: 15px;
    Line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    margin: 515px 5px 100px 5px;
}
.latest-news-items:hover {
    color: #14B9D5;
}
.header-title-description {
    font-family: Open, sans-serif;
    Font-style: Bold;
    Font-size: 27px;
    Line-height: 37px;
    color: #FFFFFF;
    padding: 164px 60px 173px 658px;
}
.the-latest-news-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 74px;
    margin: -150px 20px 20px 74px;
}
.news-button {
    font-family: Open, sans-serif;
    Font-style: Bold;
    Font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 16px 19px;
    margin-right: 20px;
    border-radius: 5px;
    border: none;
}
.button-subscribe {
    background-color: #89CA62;

}
.button-to-read {
    background-color: #14B9D5;
}
.loop {
    margin-left: 220px;
    align-items: flex-end;
}
.popular-posts-column {
    display: flex;
    flex-direction: column;

}
.most-popular-posts-block {
    display: flex;
    justify-content: space-between;
    margin: 52px 360px auto;
    text-align: center;
    
}
.most-popular-posts {
    margin-top: 49px;
}
.post-description {
    Font-family: Open, sans-serif;
    font-style: bold;
    Font-size: 18px;
    Line-height: 25px;
    margin: 14px 20px;
    text-align: center;
}
.most-popular-section-header {
    Font-family: Open, sans-serif;
    font-style: bold;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 72px;
    text-align: center;
}
.our_clients {
    background-image: url(../img/section3_our_clients/bg-our-clients.png);
    width: 1900px;
    height: 518px;
}
.most-popular-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 240px;
    padding-left: 510px;
    padding-right: 510px;
}
.our_clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.common-title {
    color: #18B4CF;
    text-transform: uppercase;
    Font-family: Open, sans-serif;
    font-style: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 52px;
    margin-top: 49px;
}
.hot_news-section {
    margin-left: 360px;
    margin-right: 360px;
}
.hot_rated-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.hot-rated-img {
    width: 270px;
    height: 190px;
}
.hot-news-secton-first-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-bottom: 44px;
}
.img-emirate {
    margin-right: 0px;
    padding-right: 0px;
}
.hot-news-information {
    background-color: #F9F7F7;
}
.hot-news-secton-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    justify-content: center;
    margin-bottom: 44px;
    align-content: space-between;
    align-items: auto;
}
.hot-news-secton-last-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 44px;
}
.hot-news-items {
    width: 554px;
    height: 416px;
    background-color: #F9F7F7;
}
.hot-items-description {
    font-family: Open, sans-serif;
    font-style: Bold;
    font-size: 14px;
    line-height: 21px;
    padding: 15px 14px 0 14px;
    text-align: end;

}
.buttom-footer {
    background-color: #000000;
    height: 80px;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding-top: 30px;

}
.articles-common-title {
    font-family: Open, sans-serif;
    font-style: Bold;
    font-size: 18px;
    line-height: 25px;
    color:#353A3D;
    text-align: end;
    margin-right: 14px;
}
.footer-description {
    margin-left: 367px;
    Font-family: Open, sans-serif;
    Font-size: 13px;
    line-height: 13px;

}
.footer-logo {
    margin-left: auto;

}
